body {background-color: whitesmoke;}

.ads {
  display: flex;
  justify-content: space-between;
}

.site-name {
  display: flex;
  justify-content: center;
}

.nav {
  display: flex;
  justify-content: center;
  
}

.imgs-posts {
  display: flex;
  justify-content: space-evenly;
}

.search-bar {
  display: flex;
  justify-content: center;
}

.bottom-section {
  display: flex;
  justify-content: space-between;
}


.site-info {
  flex-direction: column;
}

.site-updates {
  flex-direction: column;
}
