body {
    background-color: aqua;
}

.nav_row {
    display: flex;
    justify-content: space-between;
}

.body-top-row {
    display: flex;
    justify-content: space-between;
    justify-content: center;
    justify-content: space-evenly;
}

.body-bottom-row {
    display: flex;
    justify-content: space-around;
}